table {
    background-color: green;
}

td {
    width: 60px;
    height: 60px;
}

th, td {
    border: solid white 1px;
}

th {
    color: white;
}

td>div {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 30px;
}

div.white {
    border-style: solid;
    border-radius: 100%;
    border-color: white;
    border-width: 30px;
}

div.black {
    border-style: solid;
    border-radius: 100%;
    border-color: black;
    border-width: 30px;
}

.grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(50, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 250px
}

.UI {
    font-size: 50px;
    grid-column-start: 3;
    width: 300px;
    height: 250px;
    border-style: solid;
    border-color: black;
    background-color: skyblue;
}

.black_UI, .white_UI {
    font-size: 50px;
    line-height: 50px;
    margin-top: 50px;
    margin-bottom: 0;
}

.PASS_button {
    font-size: 60px;
    width: 300px;
    height: 75px;
    color: blue;
    display:none;
}

.black_UI {
    color: orangered;
    font-size: 100px;
    font: bold;
}

.next_game {
    grid-column-start:3;
}

.next_game_button{
    font-size: 55px;
    width: 300px;
    height: 75px;
    color: blue;
    border:solid;
    border-color:black;
    display:none;
}